<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="Life Sim"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fab_Bottom_app_bar"
        tools:targetApi="31">
        <activity
            android:name="com.sim.lifesim4.jobs.EntrepreneurActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.jobs.GovermentActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.jobs.CrimeActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.jobs.FullTimeActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.assets.AssetActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.relations.PersonActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.LawsuitActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.EmigrateActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.WillActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.CharityActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.PartyActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.PlanesActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.BoatsActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.CarsActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.PropertiesActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.SkillsActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.LoveActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.assets.PlanesActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.assets.CarsActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.assets.BoatActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.assets.HouseActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.relations.EnemiesActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.relations.FriendsActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.relations.LoversActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.relations.FamilyActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.HolidayActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.HealthActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.activities.FitnessActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.ActivitiesActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.RelationsActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.AssetActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.jobs.PartTimeActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.JobActivity"
            android:exported="false" />
        <activity
            android:name="com.sim.lifesim4.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>